.sidebar {
  border: 1px solid;
  border-color: rgb(209, 209, 209);
  text-align: left;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 10px;
  height: calc(100% - 35px);
  margin: 18px 10px;
}

.drop1 {
  background-color: white;
  float: left;
}
.btnExp {
  padding: 0;
  border: none;
  background: none;
}
